Repository helpwave/services, pull requests merged in 2023-10, with the labels that each got.

#461 run make proto
  gen/python/google/protobuf/timestamp_pb2.py
  gen/python/proto/libs/events/v1/organization_events_pb2.py
  gen/python/proto/libs/events/v1/user_events_pb2.py
  gen/python/proto/services/auth_svc/v1/auth_svc_pb2.py
  gen/python/proto/services/emergency_room_svc/v1/emergency_room_svc_pb2.py
  gen/python/proto/services/impulse_svc/v1/impulse_svc_pb2.py
  gen/python/proto/services/ory_svc/v1/ory_svc_pb2.py
  gen/python/proto/services/task_svc/v1/bed_svc_pb2.py
  gen/python/proto/services/task_svc/v1/patient_svc_pb2.py
  gen/python/proto/services/task_svc/v1/room_svc_pb2.py
  gen/python/proto/services/task_svc/v1/task_svc_pb2.py
  gen/python/proto/services/task_svc/v1/task_template_svc_pb2.py
  gen/python/proto/services/task_svc/v1/ward_svc_pb2.py
  gen/python/proto/services/user_svc/v1/organization_svc_pb2.py
  gen/python/proto/services/user_svc/v1/user_svc_pb2.py
  services/impulse_svc/gen/google/protobuf/timestamp_pb2.py
  services/impulse_svc/gen/proto/libs/events/v1/organization_events_pb2.py
  services/impulse_svc/gen/proto/libs/events/v1/user_events_pb2.py
  services/impulse_svc/gen/proto/services/auth_svc/v1/auth_svc_pb2.py
  services/impulse_svc/gen/proto/services/emergency_room_svc/v1/emergency_room_svc_pb2.py
  services/impulse_svc/gen/proto/services/impulse_svc/v1/impulse_svc_pb2.py
  services/impulse_svc/gen/proto/services/ory_svc/v1/ory_svc_pb2.py
  services/impulse_svc/gen/proto/services/task_svc/v1/bed_svc_pb2.py
  services/impulse_svc/gen/proto/services/task_svc/v1/patient_svc_pb2.py
  services/impulse_svc/gen/proto/services/task_svc/v1/room_svc_pb2.py
  services/impulse_svc/gen/proto/services/task_svc/v1/task_svc_pb2.py
  services/impulse_svc/gen/proto/services/task_svc/v1/task_template_svc_pb2.py
  services/impulse_svc/gen/proto/services/task_svc/v1/ward_svc_pb2.py
  services/impulse_svc/gen/proto/services/user_svc/v1/organization_svc_pb2.py
  services/impulse_svc/gen/proto/services/user_svc/v1/user_svc_pb2.py
Labels: blocker

#466 fix GetMembersByOrganization
  services/user-svc/internal/organization/organization.go
Labels: priority: high

#453 fix: CreateUser, UpdateUser, GetScore, GetRewards, TrackChallenge, St…
  services/impulse_svc/grpc_service/service.py
  services/impulse_svc/impulse_svc/settings.py
Labels: impulse-svc

#484 feat(user-svc): implement ReadPublicProfile
  services/user-svc/internal/user/user.go
Labels: priority: high, user-svc, blocker
